/* #fig-img-trix .attachment__caption{
    display: none !important;
} */

.attachment a img, .attachment--preview a img, 
.attachment--jpg a img{
    width: 100% !important;
    height: 100% !important;
}